.container {
    width: 500px;
    margin: 0 auto;
}

td {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;       /* the same as your div height */
    font-size: 25px;
    font-weight: 200;
    font-family: "Arial";
}

.bt {
    border-top: 4px solid black;
}

.bb {
    border-bottom: 4px solid black;
}

.br {
    border-right: 4px solid black;
}

.bl {
    border-left: 4px solid black;
}

.selected {
    background-color: #cfffc9;
}

.selectedRed {
    background-color: crimson;
}

table.sudoku {
    table-layout:fixed;
    border-spacing: 0px;
    border-collapse: collapse;
}
table.sudoku td {
    height: 40px;
    width: 40px;
    overflow: hidden;
    border: 2px solid lightgray;
}
